<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
	<testsuites>
		<testsuite name="Poparser test suite">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>